<a href="https://colab.research.google.com/github/matheusyandev/Curso-Python---curso-em-video/blob/main/Exercicios_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Desafio 001
Crie um programa que escreva "Olá,Mundo!"na tela.

In [2]:
print('Olá,Mundo!')

Olá,Mundo!

#Desafio 002
Faça um rograma que leia o nome de uma pessoa e mostre uma mensagem de boas-vindas

In [5]:
name = input('Digite seu nome: ')
print('Seja bem vindo', name, 'prazer em conhecê-lo')

Digite seu nome: pedro
Seja bem vindo pedro prazer em conhece-lo

#Desafio 003
Crie um programa que leia dois numeros e mostre a soma entre eles

In [5]:
n1 = int(input('escreva um numero: '))
n2 = int(input('escreva mais um: ' ))
s = n1 + n2
print('a some entre {} e {} é {}'.format(n1, n2, s))

escreva um numero: 2
escreva mais um: 4
a some entre 2 e 4 é 6

#Desafio 005
Faça um pograma que leia um numero inteiro e mostre na tela o seu sucessor seu antecessor

In [9]:
n1 = int(input('escreva um numero:'))
m = n1+1
n = n1-1
print('seu sucessor é {} e seu antecessor é {}'.format(m, n))

escreva um numero:5
seu sucessor é 6 e seu antecessor é 4

#Desafio 006
Crie um algoritimo que leia um numero e mostre o seu dobro, triplo e raiz quadrada

In [3]:
import math

n1 = int(input('escreva um numero:'))
m = n1 * 2
t = n1 * 3
r = n1 
print('o dobro do seu numero é {} seu triplo é {} e sua raiz quadrada é {}'.format(m, t, math.sqrt(r)))

escreva um numero:25
o dobro do seu numero é 50 seu triplo é 75 e sua raiz quadrada é 5.0

#Desafio 007
Desenvolva um programa que leia as duas notas de um aluno,calcule e mostre sua media

In [23]:
n1 = int(input('sua nota:'))
n2 = int(input('sua outra nota:'))
s = (n1 + n2) / 2
print('Você tirou {} e {} nessa materia, sua media é {}'.format(n1, n2, s))

sua nota:7
sua outra nota:9
Você tirou 7 e 9 nessa materia,sua media é 8.0

#Desafio 008
Escreva um programa que leia um valor em metros e o exiba convertido em centimetros e milimetros

In [25]:
n1 = int(input('escreva seu numero de metros: '))
c = n1 * 100
m = n1 * 1000
print('seu valor em metros é {},em centimetros é {} e em milimetros é {}'.format(n1,c,m))

escreva seu numero de metros:20
seu valor em metros é 20,em centimetros é 2000 e em milimetros é 20000

#Desafio 009
Faça um programa que leia um numero inteiro qualquer e mostre na tela sua tabuada

In [77]:
n1 = int(input('escreva um numero: '))
a = n1 * 1
b = n1 * 2
c = n1 * 3
d = n1 * 4
e = n1 * 5
f = n1 * 6
g = n1 * 7
h = n1 * 8
i = n1 * 9
j = n1 * 10
print('A tabuada do seu numero é: \n {}\n {}\n {}\n {}\n {}\n {}\n {}\n {}\n {}\n {}\n'.format(a, b, c, d, e, f, g, h, i, j))

escreva um numero: 5
A tabuada do seu numero é:
 5
 10
 15
 20
 25
 30
 35
 40
 45
 50

In [82]:
number = int(input('Type a number: '))
for i in range(11):
  print(f'{i} X {number} = {i * number} ')

Type a number: 3
0 X 3 = 0
1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30

#Desafio 010
Crie um programa que leia quanto dinheiro uma pessoa tem na carteira e mostre quantos dolares ela pode comprar
(considere o dolar US$=1.00 = RS3.27)

In [34]:
n1 = int(input('Digite quanto dinheiro você tem na sua conta:'))
q = n1 / 3.27
print('você conseguira comprar {:.2f} dolares'.format(q))

Digite quanto dinheiro você tem na sua conta:10
você conseguira comprar 3.06 dolares

In [36]:
n1 = int(input('Digite quanto dinheiro você tem na sua conta:'))
q = n1 / 3.27
print('você conseguira comprar {:.2f} dolares'.format(q))

Digite quanto dinheiro você tem na sua conta:2000
você conseguira comprar 611.62 dolares

In [93]:
#exemplo de função
def sum(num1, num2):
  print(f'A soma é: {num1 + num2}')
sum(1, 2)
sum(3, 7)
sum(3.14, 5.6)

#conversor de dólares
def converter(valor_na_carteira, cotacao_dolar):
  print(f'o valor da carteira é ${valor_na_carteira / cotacao_dolar:.2f}')
converter(10, 3.27)
converter(2000, 3.27)

A soma é: 3
A soma é: 10
A soma é: 8.74
o valor da carteira é $3.06
o valor da carteira é $611.62

#Desafio 011
Faça um programa que leia a largura e altura de uma parede em metros, calcule sua área e a quantidade de tinta necessaria para pinta-la,sabendo que cada litro de tinta, pinta uma área de 2m²

In [94]:
n1 = int(input('Digite a largura: '))
n2 = int(input('Digite a altura: '))
c = n1 * n2
t = c / 2
print('A Àrea da sua parede é de {}m²,você vai ter que usar {} litros de tinta para pintá-la'.format(c, t))

Digite a largura: 10
Digite a altura: 5
A Àrea da sua parede é de 50m²,você vai ter que usar 25.0 litros de tinta para pintá-la

#Desafio 012
Faça um algoritimo que mostre o preço de um produto e mostre seu novo preço. Com 5% de desconto.

In [54]:
n1 = float(input('preço do produto: '))
c = (5 * n1) / 100
t = n1 - c
print('O preço do novo do produto é de {}'.format(t))

preço do produto: 24
O preço novo do produto é de 22.8

#Desafio 013
Faça um algoritimo que leia o salário de um funcionario e mostre seu novo salario, com 15% de aumento.

In [95]:
n1 = float(input('digite seu salario:'))
c = n1 * (1 + 15 / 100)
print('Seu novo salario é de {:.2f}'.format(c))

digite seu salario:1000
Seu novo salario é de 1150.00

#Desafio 014
Escrva um programa que converta uma temperatura digitada em C e converta para F

In [10]:
n1 = float(input('digite uma temperatura: '))
c = (n1 * 9/5) + 32 
print('a sua temperatura é {}C e {}F'.format(n1 , c))

digite uma temperatura: 20
a sua temperatura é 20.0C e 68.0F

#Desafio 015
Escreva um programa que pergunte a quantidade de km percorridos por um carro alugado e a quantidade de dias pelos quais ele foi alugado.Calcule o preço a pagar,sabendo que o carro custa RS60 por dia e RS0,15 por km rodado

In [15]:
n1 = int(input('Dias alugado: '))
n2 = float(input('Km percorridos: '))
c = n1 * 60
s = n2 * 0.15
t = c + s
print('A quantidade a pagar pelos dias alugados é de {}'. format(t))

Dias alugado: 5
Km percorridos: 100
A quantidade a pagar pelos dias alugados é de 315.0

#Desafio 016
Crie um programa que leia um numero real qualquer pelo teclado e mostre na tela a sua porção inteira

ex: digite um numero:6.127
O numero 6.127 tem a parte inteira 6

In [31]:
import math
n1 = float(input('Digite um numero: '))
print('O numero {} tem a parte inteira {}'.format(n1 , floor(n1)))

Digite um numero: 2.332
O numero 2.332 tem a parte inteira 2

#Desafio 017
faça um programa que leia o comprimento do cateto oposto e do cateto adjacente de um triangulo,calcule e mostre o comprimento da hiotenusa

In [30]:
import math
n1 = int(input('Escreva o Cateto oposto:'))
n2 = int(input('Escreva o Cateto adjacente:'))
c = hypot(n1 , n2)
print('A hipotenusa desses numeros é {}'.format(c))

Escreva o Cateto oposto:5
Escreva o Cateto adjacente:6
A hipotenusa desses numeros é 7.810249675906654

#Desafio 018
Faça um programa que leia um ângulo qualquer e mostre na tela o valor do seno,cosseno e tangente desse angulo

In [35]:
import math
n1 = int(input('Digite um cateto oposto: '))
n2 = int(input('Digite um cateto adjecente: '))
h = math.hypot(n1 , n2)
seno = n1 / h
cos = n2 / h
tan = n1 / n2
print('O seno desse numero é {} o cosseno desses numeros é {} e a tangente desses numeros é {}'.format(seno , cos , tan))

Digite um cateto oposto: 10
Digite um cateto adjecente: 7
O seno desse numero é 0.8192319205190405 o cosseno desses numeros é 0.5734623443633283 e a tangente desses numeros é 1.4285714285714286

#Desafio 019
Um professor quer sortear um dos seus alunos para apagar o quadro.Faça um programa que ajude ele lendo o nome deles e escrevendo o nome do escolhido

In [81]:
import random
random_number = random.randint(1,4)
if(random_number == 1) :
    print('O esolhido para apagar o quadro foi João')
elif (random_number == 2) :
    print('O esolhido para apagar o quadro foi Pedro')
elif (random_number == 3) :
    print('O esolhido para apagar o quadro foi Marcio')
elif (random_number == 4) :
    print('O esolhido para apagar o quadro foi Felipe')

O esolhido para apagar o quadro foi Felipe

In [86]:
import random
n1 = str(input('Digite um nome: '))
n2 = str(input('Digite outro nome: '))
n3 = str(input('Digite outro nome: '))
n4 = str(input('Digite outro nome: '))
lista = (n1 , n2 , n3 , n4)
escolhido = random.choice(lista)

print('O escolhido para limpar o quadro é {}'.format(escolhido))
print(lista[3])

Digite um nome: aadsa
Digite outro nome: dsadadsdfgds
Digite outro nome: gdfgg
Digite outro nome: efsdfsfxcx
O escolhido para limpar o quadro é aadsa
efsdfsfxcx

In [85]:
dadx = 0
while (x != 10) :
  print('Não é 10!')
  x += 1

Não é 10!
Não é 10!
Não é 10!
Não é 10!
Não é 10!
Não é 10!
Não é 10!
Não é 10!
Não é 10!
Não é 10!

#Desafio 020
 O mesmo professor do desafio anterior quer sortear a ordem de apresentação de trabalho dos alunos.Faça um programa que leia o nome dos quatro alunos e mostre a ordem sorteada.

In [94]:
name_one = str(input('Primeiro aluno: '))
name_two = str(input('Segundo aluno: '))
name_three = str(input('Terceiro aluno: '))
name_four = str(input('Quarto aluno: '))
list = [name_one , name_two , name_three , name_four]
random.shuffle(list)
print('A ordem de apresentação será ')
print(list)

Primeiro aluno: Pedro
Segundo aluno: João
Terceiro aluno: Lucia
Quarto aluno: Ana
A ordem de apresentação será
['Pedro', 'Lucia', 'Ana', 'João']

In [90]:
list = ['maria', 'joao', 'claudia', 'kleber']
print(list)
random.shuffle(list)
print(list)

['maria', 'joao', 'claudia', 'kleber']
['claudia', 'maria', 'joao', 'kleber']